//- updates.pug
doctype html
html
  head
    title= title
  body
    h1= title
    form(action="/update-cobj" method="POST")
      label(for="name") Name:
      input(type="text" name="name" required)
      br
      label(for="temperment") Temperment:
      input(type="text" name="temperment" required)
      br
      label(for="collar_coler") Collar Coler:
      input(type="text" name="collar_coler" required)
      br
      label(for="vaccine_status") Vaccine Status:
      input(type="text" name="vaccine_status" required)
      br
      button(type="submit") Submit
a(href="/") Return To Homepage